.wrapper {
  width: 23%;
  height: 100%;
  border-radius: 10px;
  background: #333333;
  color: brown;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}